body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:645px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8373 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:645px;
}
#u8374 {
  position:absolute;
  left:2px;
  top:314px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:39px;
  background:inherit;
  background-color:rgba(20, 56, 72, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8375 {
  position:absolute;
  left:1066px;
  top:95px;
  width:162px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8376 {
  position:absolute;
  left:16px;
  top:11px;
  width:144px;
  word-wrap:break-word;
}
#u8378 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u8378_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1366px;
  height:228px;
  background-image:none;
}
#u8378_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:228px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8379 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:228px;
}
#u8380 {
  position:absolute;
  left:2px;
  top:106px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8381 {
  position:absolute;
  left:634px;
  top:95px;
  width:100px;
  height:100px;
  font-size:14px;
}
#u8381_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8381.selected {
}
#u8382 {
  position:absolute;
  left:16px;
  top:67px;
  width:68px;
  word-wrap:break-word;
}
#u8383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8383 {
  position:absolute;
  left:381px;
  top:95px;
  width:100px;
  height:100px;
  font-size:14px;
}
#u8383_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8383.selected {
}
#u8384 {
  position:absolute;
  left:16px;
  top:67px;
  width:68px;
  word-wrap:break-word;
}
#u8385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8385 {
  position:absolute;
  left:507px;
  top:95px;
  width:100px;
  height:100px;
  font-size:14px;
}
#u8385_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8385.selected {
}
#u8386 {
  position:absolute;
  left:16px;
  top:67px;
  width:68px;
  word-wrap:break-word;
}
#u8387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8387 {
  position:absolute;
  left:760px;
  top:95px;
  width:100px;
  height:100px;
  font-size:14px;
}
#u8387_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8387.selected {
}
#u8388 {
  position:absolute;
  left:16px;
  top:67px;
  width:68px;
  word-wrap:break-word;
}
#u8389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8389 {
  position:absolute;
  left:886px;
  top:95px;
  width:100px;
  height:100px;
  font-size:14px;
}
#u8389_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(40, 40, 40, 0.0470588235294118);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8389.selected {
}
#u8390 {
  position:absolute;
  left:16px;
  top:67px;
  width:68px;
  word-wrap:break-word;
}
#u8391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u8391 {
  position:absolute;
  left:401px;
  top:95px;
  width:60px;
  height:60px;
}
#u8392 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u8393 {
  position:absolute;
  left:527px;
  top:95px;
  width:60px;
  height:60px;
}
#u8394 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u8395 {
  position:absolute;
  left:654px;
  top:95px;
  width:60px;
  height:60px;
}
#u8396 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u8397 {
  position:absolute;
  left:780px;
  top:95px;
  width:60px;
  height:60px;
}
#u8398 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u8399 {
  position:absolute;
  left:906px;
  top:95px;
  width:60px;
  height:60px;
}
#u8400 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
  background:inherit;
  background-color:rgba(17, 36, 50, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8401 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:50px;
}
#u8402 {
  position:absolute;
  left:2px;
  top:17px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8403 {
  position:absolute;
  left:21px;
  top:15px;
  width:109px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u8404 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8405 {
  position:absolute;
  left:735px;
  top:0px;
  width:89px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8405_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8405.selected {
}
#u8406 {
  position:absolute;
  left:16px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8407 {
  position:absolute;
  left:388px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8407_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8407.selected {
}
#u8408 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8409 {
  position:absolute;
  left:1286px;
  top:0px;
  width:80px;
  height:50px;
  color:#FFFFFF;
}
#u8410 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u8411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8411 {
  position:absolute;
  left:585px;
  top:0px;
  width:89px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8411_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8411.selected {
}
#u8412 {
  position:absolute;
  left:16px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8413 {
  position:absolute;
  left:1206px;
  top:0px;
  width:80px;
  height:50px;
  color:#FFFFFF;
}
#u8414 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  word-wrap:break-word;
}
#u8415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8415 {
  position:absolute;
  left:974px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8415_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8415.selected {
}
#u8416 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8417 {
  position:absolute;
  left:327px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8417_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8417.selected {
}
#u8418 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8419 {
  position:absolute;
  left:449px;
  top:0px;
  width:75px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8419_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8419.selected {
}
#u8420 {
  position:absolute;
  left:16px;
  top:16px;
  width:43px;
  white-space:nowrap;
}
#u8421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8421 {
  position:absolute;
  left:1035px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8421_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8421.selected {
}
#u8422 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8423 {
  position:absolute;
  left:913px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8423_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8423.selected {
}
#u8424 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8425 {
  position:absolute;
  left:674px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8425_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8425.selected {
}
#u8426 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8427 {
  position:absolute;
  left:524px;
  top:0px;
  width:61px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8427_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8427.selected {
}
#u8428 {
  position:absolute;
  left:16px;
  top:16px;
  width:29px;
  white-space:nowrap;
}
#u8429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8429 {
  position:absolute;
  left:824px;
  top:0px;
  width:89px;
  height:50px;
  font-size:14px;
  color:#FFFFFF;
}
#u8429_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u8429.selected {
}
#u8430 {
  position:absolute;
  left:16px;
  top:16px;
  width:57px;
  white-space:nowrap;
}
#u8431_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:16px;
  height:16px;
}
#u8431 {
  position:absolute;
  left:902px;
  top:15px;
  width:6px;
  height:6px;
}
#u8432 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:769px;
}
#u8433 {
  position:absolute;
  left:0px;
  top:50px;
  width:1366px;
  height:769px;
}
#u8434 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8435 {
  position:absolute;
  left:770px;
  top:637px;
  width:21px;
  height:21px;
}
#u8436 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u8437 {
  position:absolute;
  left:524px;
  top:637px;
  width:21px;
  height:21px;
}
#u8438 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
