body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:761px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u13976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(245, 245, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(0, 0, 0, 0.349019607843137);
  color:#CCCCCC;
}
#u13976 {
  position:absolute;
  left:75px;
  top:49px;
  width:375px;
  height:667px;
  color:#CCCCCC;
}
#u13977 {
  position:absolute;
  left:0px;
  top:651px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u13978 {
  position:absolute;
  left:75px;
  top:49px;
  width:375px;
  height:64px;
  color:#666666;
}
#u13979 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13980 {
  position:absolute;
  left:94px;
  top:49px;
  width:53px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13981 {
  position:absolute;
  left:2px;
  top:3px;
  width:49px;
  white-space:nowrap;
}
#u13982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13982 {
  position:absolute;
  left:241px;
  top:49px;
  width:43px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13983 {
  position:absolute;
  left:2px;
  top:3px;
  width:39px;
  white-space:nowrap;
}
#u13984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u13984 {
  position:absolute;
  left:399px;
  top:49px;
  width:22px;
  height:20px;
  font-size:12px;
  color:#666666;
}
#u13985 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  white-space:nowrap;
}
#u13986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:10px;
}
#u13986 {
  position:absolute;
  left:424px;
  top:54px;
  width:19px;
  height:10px;
  color:#666666;
}
#u13987 {
  position:absolute;
  left:2px;
  top:-3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u13988 {
  position:absolute;
  left:379px;
  top:53px;
  width:14px;
  height:10px;
  color:#666666;
}
#u13989 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:10px;
}
#u13990 {
  position:absolute;
  left:79px;
  top:54px;
  width:13px;
  height:10px;
  color:#666666;
}
#u13991 {
  position:absolute;
  left:2px;
  top:-3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13992 {
  position:absolute;
  left:252px;
  top:89px;
  width:29px;
  height:17px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u13993 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u13994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u13994 {
  position:absolute;
  left:75px;
  top:70px;
  width:81px;
  height:44px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u13995 {
  position:absolute;
  left:24px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u13996 {
  position:absolute;
  left:85px;
  top:87px;
  width:7px;
  height:11px;
  color:#666666;
}
#u13997 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u13998 {
  position:absolute;
  left:75px;
  top:150px;
  width:375px;
  height:155px;
  color:#CCCCCC;
  text-align:left;
}
#u13999 {
  position:absolute;
  left:16px;
  top:16px;
  width:359px;
  word-wrap:break-word;
}
#u14000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14000 {
  position:absolute;
  left:75px;
  top:348px;
  width:375px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u14001 {
  position:absolute;
  left:16px;
  top:17px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14002 {
  position:absolute;
  left:85px;
  top:365px;
  width:29px;
  height:17px;
}
#u14003 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:70px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14004 {
  position:absolute;
  left:141px;
  top:656px;
  width:244px;
  height:40px;
}
#u14005 {
  position:absolute;
  left:16px;
  top:12px;
  width:212px;
  word-wrap:break-word;
}
#u14006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14006 {
  position:absolute;
  left:85px;
  top:123px;
  width:57px;
  height:17px;
}
#u14007 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14008 {
  position:absolute;
  left:85px;
  top:321px;
  width:43px;
  height:17px;
}
#u14009 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u14010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u14010 {
  position:absolute;
  left:146px;
  top:365px;
  width:92px;
  height:16px;
  color:#CCCCCC;
}
#u14011 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u14012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
}
#u14012 {
  position:absolute;
  left:75px;
  top:398px;
  width:375px;
  height:50px;
  color:#CCCCCC;
  text-align:left;
}
#u14013 {
  position:absolute;
  left:16px;
  top:17px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14014 {
  position:absolute;
  left:85px;
  top:415px;
  width:29px;
  height:17px;
}
#u14015 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u14016 {
  position:absolute;
  left:146px;
  top:415px;
  width:183px;
  height:16px;
  color:#CCCCCC;
}
#u14017 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u14018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14018 {
  position:absolute;
  left:460px;
  top:269px;
  width:301px;
  height:100px;
}
#u14019 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
#u14020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
}
#u14020 {
  position:absolute;
  left:410px;
  top:284px;
  width:33px;
  height:16px;
  color:#CCCCCC;
}
#u14021 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#CCCCCC;
}
#u14022 {
  position:absolute;
  left:85px;
  top:491px;
  width:60px;
  height:60px;
  font-size:36px;
  color:#CCCCCC;
}
#u14023 {
  position:absolute;
  left:0px;
  top:9px;
  width:60px;
  word-wrap:break-word;
}
#u14024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14024 {
  position:absolute;
  left:85px;
  top:464px;
  width:57px;
  height:17px;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:14px;
}
#u14026 {
  position:absolute;
  left:152px;
  top:466px;
  width:96px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u14027 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u14028 {
  position:absolute;
  left:460px;
  top:491px;
  width:301px;
  height:100px;
}
#u14029 {
  position:absolute;
  left:10px;
  top:10px;
  width:281px;
  word-wrap:break-word;
}
