body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:731px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10194 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:731px;
}
#u10195 {
  position:absolute;
  left:2px;
  top:358px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10196 {
  position:absolute;
  left:433px;
  top:133px;
  width:500px;
  height:241px;
}
#u10197 {
  position:absolute;
  left:2px;
  top:112px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10198 {
  position:absolute;
  left:455px;
  top:158px;
  width:73px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u10199 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10200 {
  position:absolute;
  left:489px;
  top:219px;
  width:43px;
  height:17px;
}
#u10201 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u10202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10202 {
  position:absolute;
  left:537px;
  top:212px;
  width:329px;
  height:32px;
}
#u10203 {
  position:absolute;
  left:2px;
  top:8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u10204 {
  position:absolute;
  left:537px;
  top:254px;
  width:239px;
  height:17px;
  color:#999999;
}
#u10205 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u10206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10206 {
  position:absolute;
  left:846px;
  top:324px;
  width:59px;
  height:32px;
}
#u10207 {
  position:absolute;
  left:16px;
  top:8px;
  width:27px;
  white-space:nowrap;
}
#u10208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10208 {
  position:absolute;
  left:777px;
  top:324px;
  width:59px;
  height:32px;
}
#u10209 {
  position:absolute;
  left:16px;
  top:8px;
  width:27px;
  white-space:nowrap;
}
#u10210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10210 {
  position:absolute;
  left:868px;
  top:153px;
  width:42px;
  height:32px;
}
#u10211 {
  position:absolute;
  left:16px;
  top:8px;
  width:10px;
  white-space:nowrap;
}
