body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12797 {
  position:absolute;
  left:32px;
  top:42px;
  width:375px;
  height:667px;
}
#u12798 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:-webkit-linear-gradient(90deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  background:linear-gradient(0deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12799 {
  position:absolute;
  left:32px;
  top:42px;
  width:375px;
  height:64px;
}
#u12800 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:10px;
}
#u12801 {
  position:absolute;
  left:56px;
  top:49px;
  width:331px;
  height:10px;
  color:#333333;
}
#u12802 {
  position:absolute;
  left:2px;
  top:-3px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12804 {
  position:absolute;
  left:32px;
  top:645px;
  width:375px;
  height:64px;
  color:#666666;
}
#u12805 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12806 {
  position:absolute;
  left:32px;
  top:645px;
  width:375px;
  height:64px;
}
#u12807 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12808 {
  position:absolute;
  left:68px;
  top:655px;
  width:20px;
  height:20px;
}
#u12809 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12810 {
  position:absolute;
  left:64px;
  top:683px;
  width:29px;
  height:17px;
}
#u12811 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12812 {
  position:absolute;
  left:141px;
  top:655px;
  width:20px;
  height:20px;
}
#u12813 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12814 {
  position:absolute;
  left:137px;
  top:683px;
  width:29px;
  height:17px;
}
#u12815 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12816 {
  position:absolute;
  left:287px;
  top:655px;
  width:20px;
  height:20px;
}
#u12817 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12818 {
  position:absolute;
  left:283px;
  top:683px;
  width:29px;
  height:17px;
}
#u12819 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12820 {
  position:absolute;
  left:360px;
  top:655px;
  width:20px;
  height:20px;
}
#u12821 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12822 {
  position:absolute;
  left:356px;
  top:683px;
  width:29px;
  height:17px;
}
#u12823 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12824 {
  position:absolute;
  left:214px;
  top:655px;
  width:20px;
  height:20px;
}
#u12825 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12826 {
  position:absolute;
  left:210px;
  top:683px;
  width:29px;
  height:17px;
}
#u12827 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12828 {
  position:absolute;
  left:191px;
  top:80px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12829 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12830 {
  position:absolute;
  left:43px;
  top:106px;
  width:350px;
  height:80px;
}
#u12831 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12832 {
  position:absolute;
  left:56px;
  top:125px;
  width:265px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12833 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12834 {
  position:absolute;
  left:56px;
  top:162px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12835 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12836 {
  position:absolute;
  left:103px;
  top:162px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12837 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12838 {
  position:absolute;
  left:43px;
  top:186px;
  width:350px;
  height:80px;
}
#u12839 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12840 {
  position:absolute;
  left:56px;
  top:205px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12841 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12842 {
  position:absolute;
  left:56px;
  top:242px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12843 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12844 {
  position:absolute;
  left:103px;
  top:242px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12845 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12846 {
  position:absolute;
  left:331px;
  top:118px;
  width:56px;
  height:56px;
}
#u12847 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12848 {
  position:absolute;
  left:43px;
  top:266px;
  width:350px;
  height:80px;
}
#u12849 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12850 {
  position:absolute;
  left:56px;
  top:285px;
  width:265px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12851 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12852 {
  position:absolute;
  left:56px;
  top:322px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12853 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12854 {
  position:absolute;
  left:103px;
  top:322px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12855 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12856 {
  position:absolute;
  left:331px;
  top:278px;
  width:56px;
  height:56px;
}
#u12857 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:41px;
}
#u12858 {
  position:absolute;
  left:331px;
  top:286px;
  width:56px;
  height:41px;
}
#u12859 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12860 {
  position:absolute;
  left:43px;
  top:346px;
  width:350px;
  height:215px;
}
#u12861 {
  position:absolute;
  left:2px;
  top:100px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12862 {
  position:absolute;
  left:56px;
  top:501px;
  width:330px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12863 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u12864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12864 {
  position:absolute;
  left:56px;
  top:538px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12865 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12866 {
  position:absolute;
  left:103px;
  top:538px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12867 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u12868 {
  position:absolute;
  left:56px;
  top:361px;
  width:330px;
  height:130px;
}
#u12869 {
  position:absolute;
  left:2px;
  top:57px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12870 {
  position:absolute;
  left:438px;
  top:42px;
  width:375px;
  height:667px;
}
#u12871 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:10px;
}
#u12872 {
  position:absolute;
  left:462px;
  top:49px;
  width:331px;
  height:10px;
  color:#333333;
}
#u12873 {
  position:absolute;
  left:2px;
  top:-3px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12874 {
  position:absolute;
  left:449px;
  top:106px;
  width:350px;
  height:105px;
}
#u12875 {
  position:absolute;
  left:2px;
  top:44px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12876 {
  position:absolute;
  left:462px;
  top:125px;
  width:331px;
  height:42px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12877 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12878 {
  position:absolute;
  left:462px;
  top:180px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12879 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12880 {
  position:absolute;
  left:509px;
  top:180px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12881 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12882 {
  position:absolute;
  left:462px;
  top:221px;
  width:331px;
  height:112px;
}
#u12883 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12884 {
  position:absolute;
  left:462px;
  top:521px;
  width:331px;
  height:112px;
}
#u12885 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:159px;
}
#u12886 {
  position:absolute;
  left:462px;
  top:346px;
  width:331px;
  height:159px;
}
#u12887 {
  position:absolute;
  left:2px;
  top:72px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u12888 {
  position:absolute;
  left:449px;
  top:67px;
  width:81px;
  height:44px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u12889 {
  position:absolute;
  left:24px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u12890 {
  position:absolute;
  left:459px;
  top:84px;
  width:7px;
  height:11px;
  color:#666666;
}
#u12891 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12893 {
  position:absolute;
  left:774px;
  top:86px;
  width:6px;
  height:6px;
}
#u12894 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12895 {
  position:absolute;
  left:784px;
  top:86px;
  width:6px;
  height:6px;
}
#u12896 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12897 {
  position:absolute;
  left:763px;
  top:86px;
  width:6px;
  height:6px;
}
#u12898 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
