body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:813px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12333 {
  position:absolute;
  left:32px;
  top:42px;
  width:375px;
  height:667px;
}
#u12334 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:-webkit-linear-gradient(90deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  background:-moz-linear-gradient(0deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  background:linear-gradient(0deg, rgba(102, 102, 255, 1) 0%, rgba(102, 102, 255, 1) 0%, rgba(102, 153, 255, 1) 52%, rgba(102, 127, 255, 1) 98%, rgba(102, 127, 255, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12335 {
  position:absolute;
  left:32px;
  top:42px;
  width:375px;
  height:64px;
}
#u12336 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:10px;
}
#u12337 {
  position:absolute;
  left:56px;
  top:49px;
  width:331px;
  height:10px;
  color:#333333;
}
#u12338 {
  position:absolute;
  left:2px;
  top:-3px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u12340 {
  position:absolute;
  left:32px;
  top:645px;
  width:375px;
  height:64px;
  color:#666666;
}
#u12341 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12342 {
  position:absolute;
  left:32px;
  top:645px;
  width:375px;
  height:64px;
}
#u12343 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12344 {
  position:absolute;
  left:68px;
  top:655px;
  width:20px;
  height:20px;
}
#u12345 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12346 {
  position:absolute;
  left:64px;
  top:683px;
  width:29px;
  height:17px;
}
#u12347 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12348 {
  position:absolute;
  left:141px;
  top:655px;
  width:20px;
  height:20px;
}
#u12349 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12350 {
  position:absolute;
  left:137px;
  top:683px;
  width:29px;
  height:17px;
}
#u12351 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12352 {
  position:absolute;
  left:287px;
  top:655px;
  width:20px;
  height:20px;
}
#u12353 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12354 {
  position:absolute;
  left:283px;
  top:683px;
  width:29px;
  height:17px;
}
#u12355 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12356 {
  position:absolute;
  left:360px;
  top:655px;
  width:20px;
  height:20px;
}
#u12357 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12358 {
  position:absolute;
  left:356px;
  top:683px;
  width:29px;
  height:17px;
}
#u12359 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u12360 {
  position:absolute;
  left:214px;
  top:655px;
  width:20px;
  height:20px;
}
#u12361 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12362 {
  position:absolute;
  left:210px;
  top:683px;
  width:29px;
  height:17px;
}
#u12363 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12364 {
  position:absolute;
  left:191px;
  top:80px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12365 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12366 {
  position:absolute;
  left:43px;
  top:106px;
  width:350px;
  height:80px;
}
#u12367 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12368 {
  position:absolute;
  left:56px;
  top:125px;
  width:265px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12369 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12370 {
  position:absolute;
  left:56px;
  top:162px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12371 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12372 {
  position:absolute;
  left:103px;
  top:162px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12373 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12374 {
  position:absolute;
  left:43px;
  top:186px;
  width:350px;
  height:80px;
}
#u12375 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12376 {
  position:absolute;
  left:56px;
  top:205px;
  width:265px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12377 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12378 {
  position:absolute;
  left:56px;
  top:242px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12379 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12380 {
  position:absolute;
  left:103px;
  top:242px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12381 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u12382 {
  position:absolute;
  left:331px;
  top:118px;
  width:56px;
  height:56px;
}
#u12383 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12384 {
  position:absolute;
  left:43px;
  top:266px;
  width:350px;
  height:80px;
}
#u12385 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12386 {
  position:absolute;
  left:56px;
  top:285px;
  width:265px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12387 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  word-wrap:break-word;
}
#u12388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12388 {
  position:absolute;
  left:56px;
  top:322px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12389 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12390 {
  position:absolute;
  left:103px;
  top:322px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12391 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12392 {
  position:absolute;
  left:331px;
  top:278px;
  width:56px;
  height:56px;
}
#u12393 {
  position:absolute;
  left:2px;
  top:20px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:41px;
}
#u12394 {
  position:absolute;
  left:331px;
  top:286px;
  width:56px;
  height:41px;
}
#u12395 {
  position:absolute;
  left:2px;
  top:12px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12396 {
  position:absolute;
  left:43px;
  top:346px;
  width:350px;
  height:215px;
}
#u12397 {
  position:absolute;
  left:2px;
  top:100px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12398 {
  position:absolute;
  left:56px;
  top:501px;
  width:330px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12399 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u12400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12400 {
  position:absolute;
  left:56px;
  top:538px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12401 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12402 {
  position:absolute;
  left:103px;
  top:538px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12403 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:130px;
}
#u12404 {
  position:absolute;
  left:56px;
  top:361px;
  width:330px;
  height:130px;
}
#u12405 {
  position:absolute;
  left:2px;
  top:57px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u12406 {
  position:absolute;
  left:438px;
  top:42px;
  width:375px;
  height:667px;
}
#u12407 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:10px;
}
#u12408 {
  position:absolute;
  left:462px;
  top:49px;
  width:331px;
  height:10px;
  color:#333333;
}
#u12409 {
  position:absolute;
  left:2px;
  top:-3px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12410 {
  position:absolute;
  left:449px;
  top:106px;
  width:350px;
  height:105px;
}
#u12411 {
  position:absolute;
  left:2px;
  top:44px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12412 {
  position:absolute;
  left:462px;
  top:125px;
  width:331px;
  height:42px;
  font-family:'华文宋体 Bold', '华文宋体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12413 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12414 {
  position:absolute;
  left:462px;
  top:180px;
  width:37px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12415 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u12416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u12416 {
  position:absolute;
  left:509px;
  top:180px;
  width:61px;
  height:14px;
  font-size:12px;
  color:#CCCCCC;
}
#u12417 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u12418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12418 {
  position:absolute;
  left:462px;
  top:221px;
  width:331px;
  height:112px;
}
#u12419 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12420 {
  position:absolute;
  left:462px;
  top:521px;
  width:331px;
  height:112px;
}
#u12421 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  word-wrap:break-word;
}
#u12422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:159px;
}
#u12422 {
  position:absolute;
  left:462px;
  top:346px;
  width:331px;
  height:159px;
}
#u12423 {
  position:absolute;
  left:2px;
  top:72px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u12424 {
  position:absolute;
  left:449px;
  top:67px;
  width:81px;
  height:44px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u12425 {
  position:absolute;
  left:24px;
  top:14px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u12426 {
  position:absolute;
  left:459px;
  top:84px;
  width:7px;
  height:11px;
  color:#666666;
}
#u12427 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12429 {
  position:absolute;
  left:774px;
  top:86px;
  width:6px;
  height:6px;
}
#u12430 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12431 {
  position:absolute;
  left:784px;
  top:86px;
  width:6px;
  height:6px;
}
#u12432 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u12433 {
  position:absolute;
  left:763px;
  top:86px;
  width:6px;
  height:6px;
}
#u12434 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
